html,body{
    margin:0;
    overflow:hidden;
    height: 100%;
}

.header{
    position: absolute;
    top : 0;
    width : 100vw;
    height : 8vh;
    text-align: center;
    line-height: 8vh;
    font-size : 5vmin;
    background: #FF9800;
    color: #503b33;
    display: flex;
    justify-content: center;
}
.main {
    width: 100vw;
    top : 10vh;
    height : 80vh;
}
.page{
    width : 100vw;
    display:flex!important;
    flex-direction: column;
    justify-content: space-between;
    height : 80vh;
    margin-right: 10px;

}
.verse{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer{
    position: absolute;
    bottom : 0;
    width : 100vw;
    height : 8vh;
    text-align: center;
    line-height: 8vh;
    color: #3a4033;
    font-size: 5vmin;
    background: #8BC34A;
}
.circle{
    background: #FF5722;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    line-height : 6vh;
    text-align: center;
    font-size: smaller;
}

.bordered{
    background: radial-gradient(circle,#673ab75e 1px,transparent 2px);
    background-size: 3px 3px;
}
